include README.rst
include CHANGES
include LICENSE
include Makefile
include Pipfile
include Pipfile.lock
include Makefile
include .coveragerc
include pyproject.toml
include *.py
recursive-include tests *.py
graft src
prune .DS_Store
prune .git
prune .circleci
